---
pagination:
  data: gene_mentions | keys
  size: 1
  alias: gene
permalink: "/gene/{{ gene | slug }}/"
---

<h1>{{ gene }}</h1>

<h2>Notes</h2>

<ul>
{% for note in gene_mentions[gene] %}
<li>
<a href="/notes/{{ note | slug }}/">{{ note }}</a>
</li>
{% endfor %}
</ul>
