---
pagination:
  data: paper_mentions
  size: 1
  alias: paper
permalink: "{% if paper.key %}/paper/{{ paper.key }}/{% else %}false{% endif %}"
---

<h1>PMID {{ paper.key }}</h1>

<h2>Appears in notes</h2>

<ul>
{% for note in paper.value %}
<li>
<a href="/notes/{{ note | slug }}/">{{ note }}</a>
</li>
{% endfor %}
</ul>
